@import "variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  font-family: $mainFont;
  color: $textColor;
  background: $backgroundColor;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}